<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
  name: 'DataCard',
  props: {
    data: {
      type: Object,
      required: true,
    },
  },
});
</script>

<template>
  <div class="container">
    <div class="container__context">
      <div v-html="$md.render(data.context)"></div>
    </div>
    <div class="container__copy">
      <div v-html="$md.render(data.copy)"></div>
    </div>
    <div :class="[data.is_large ? 'container__cta--large' : 'container__cta']">
      <div v-html="$md.render(data.cta)"></div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: $spacing-48;
  margin: 0 $spacing-16;
  box-shadow: 0 1px 3px 0 rgba($color-surface-700, 0.1),
    0 1px 2px 0 rgba($color-surface-700, 0.06);
  width: 100%;
  max-height: 276px;
  &__context {
    color: $color-text-200;
  }
  &__copy {
    font-size: 60px;
    font-weight: 600;
    line-height: 64px;
    color: $color-text-300;
    margin: $spacing-8 0;
    &--media {
      margin: $spacing-16 0;
    }
  }
  &__cta {
    color: #666;
    &--large {
      color: $color-text-300;
    }
  }
}
</style>
