<script>
export default {
  props: {
    data: {
      type: Object,
      required: true,
      default: null,
    },
    index: {
      type: Number,
      required: true,
      default: null,
    },
  },
  mounted() {
    // For Eventbrite Modal
    if (this.data.eventbriteId) {
      // const exampleCallback = function () {
      //   console.log('Order complete!');
      // };

      window.EBWidgets.createWidget({
        widgetType: 'checkout',
        eventId: this.data.eventbriteId,
        modal: true,
        modalTriggerElementId: `eventbrite-widget-modal-trigger-${this.data.eventbriteId}`,
        // onOrderComplete: exampleCallback,
      });
    }
  },
};
</script>

<template>
  <article class="location-card">
    <div>
      <h3>{{ data.title }}</h3>
      <SlpTypography variant="body1" class="address">
        <a v-if="data.address_link" :href="data.address_link" target="_blank">{{
          data.address
        }}</a>
        <p v-else>{{ data.address }}</p>
      </SlpTypography>

      <p>{{ data.date }}</p>
    </div>
    <button
      v-if="data.eventbriteId"
      :id="`eventbrite-widget-modal-trigger-${data.eventbriteId}`"
      :data-ga-name="`eventbrite registration for ${data.title}`"
      data-ga-location="event locations"
      class="register-btn"
      type="button"
    >
      {{ data.register_button_text }}
    </button>
    <SlpButton
      v-if="data.external_registration_page_url"
      variant="primary"
      class="register-btn"
      :href="data.external_registration_page_url"
      target="_blank"
      :data-ga-name="`registration for ${data.title}`"
      data-ga-location="event locations"
    >
      {{ data.register_button_text }}
    </SlpButton>

    <img :src="data.img_url" :alt="data.img_alt ? data.img_alt : ''" />
    <SlpButton
      v-if="data.schedule_button_url"
      :id="index == 0 && 'schedules'"
      :data-ga-name="`schedule for ${data.title}`"
      data-ga-location="event locations"
      class="schedule-btn"
      variant="tertiary"
      target="_blank"
      :href="data.schedule_button_url"
      >{{ data.schedule_button_text }}
      <SlpIcon
        name="chevron-lg-right"
        variant="product"
        alt="Chevron Right Icon"
    /></SlpButton>
  </article>
</template>

<style lang="scss" scoped>
.location-card {
  position: relative;
  flex: 1 0 33%;
  margin-bottom: $spacing-64;

  @media (max-width: $breakpoint-md) {
    flex: 1 0 100%;
  }

  h3 {
    font-size: 28px;
    line-height: 36px;
    font-weight: $font-weight-bold;
  }

  img {
    margin-bottom: $spacing-16;
    max-width: 350px;

    @media (max-width: $breakpoint-md) {
      width: 100%;
      max-width: 100%;
    }
  }

  .address {
    display: block;
    margin: $spacing-8 0;
  }

  .register-btn {
    cursor: pointer;
    width: fit-content;
    border: 1px solid $color-surface-700;
    display: block;
    justify-content: center;
    align-items: center;
    padding: 12px $spacing-16;
    border-radius: 4px;
    background: $color-surface-700;
    color: $color-text-50;
    font-size: 18px;
    line-height: 20px;
    font-weight: $font-weight-bold;
    transition: all 0.2s ease;
    margin: $spacing-16 0;

    &:hover {
      background: $color-surface-50;
      color: $color-surface-700;
    }
  }

  .schedule-btn .slp-icon {
    margin-left: $spacing-8;
  }
}
</style>
